
@media (max-width: 600px) {
  

    
    .challenge-questions{
    
        height: 120vh;
        width: 700px;

    }
    .hints{
        resize: none;
    }

    .challenge-container{
        margin: 0;
        
    } 
    .challenge-page{
        margin-left: 230px;
    }  
   
    h1{
        margin-top: 23vh;
        width: 22vh;
    }
    #flag-1{
        margin-bottom: 10vh;
    }
    #flag-2{
        margin-bottom: 10vh;
    }
    #flag-3{
        margin-bottom: 10vh;
    }
    #flag-4{
        margin-bottom: 10vh;
    }
    #flag-5{
        margin-bottom: 10vh;
    }
    #flag-6{
        margin-bottom: 10vh;
    }
    
    
    .question{
       
      margin: auto;
    
    }
    
    nav{
        height: 10vh;
        width: 40vh;
        margin-bottom: 3vh;
       
    }
    .challenge-section{
        
        margin-left: vh;
        font-size: 17px;
        margin-bottom: 1vh;
    }
  
    
    .hints{
        resize: none;
    }
    
    .Raleway{
        
        display: block;
        width: 43vh;
        
      

    }
    
}




 @media (max-width: 900px) {
  
    .challenge-questions{
        display: block;
        margin: 10vh;
        margin-top: 123vh;
    }
    .challenge-container{
        margin: 0;
        
    }   
    h1{
        margin-top: 23vh;
        
    }
    .challenge-section{
        margin-top: 100vh;
    }
    
    .question{
       margin-left: 70px;
      margin: auto;
    
    }
    .flag-input{
        margin-bottom: 6vh;
    }
    #flag-1{
        margin-bottom: 10vh;
    }
    #flag-2{
        margin-bottom: 10vh;
    }
    #flag-3{
        margin-bottom: 10vh;
    }
    #flag-4{
        margin-bottom: 10vh;
    }
    #flag-5{
        margin-bottom: 10vh;
    }
    #flag-6{
        margin-bottom: 10vh;
    }
    
    .hints{
        resize: none;
    }
}

