/* All CSS goes here*/
body {
    background-color: #101223;
    color: #ffffff;
    font-family: Raleway;
}


nav {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 0px 5vh 0px 5vh;
    background-color: #101223; /*Content starts flowing over the navbar when scrolled without bgcolor property*/
}





















/* ============================ Class Definitions ============================ */

/* raleway is a shorthand alias for font-raleway*/
.font-raleway, .raleway {
    font-family: Raleway;
}

/* michroma is a shorthand alias for font-michroma*/
.font-michroma, .michroma {
    font-family: Michroma;
}

/* Use this in conjunction with the above fonts */
.btn-primary {
    background-color: #0066FF;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}


/* ================================ Navbar ================================*/
.nav-links {
    margin-left: auto;
    /*align-self aligns on cross axis (vertical rn)*/
    align-self: center; 
}

.nav-item {
    color: #FFFFFF;
    font-family: Michroma;
    text-decoration: None;
    margin: 0px 32px 0px 32px;
}

.nav-item:hover {
    text-decoration: underline;
}















/*================================ Homepage ================================*/

































/* ================================ Challenge #1 ================================ */





























